@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

body {
  margin: 0;
  background-color: #eee;
  font-family: "Playfair Display", serif;
  height: auto;
}
h1 {
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: capitalize;
  margin: 0;
}
main {
  width: 1100px;
  margin: auto;
}
.landing {
  background: #fff;
  display: flex;
  height: 100%;
}
.landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
.landing-text h2 {
  color: #888;
}
.btn {
  padding: 0.7rem 4rem;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}
.btn:hover {
  background-color: #f4f4f4;
}
.landing-image {
  background-image: url(/photographyWebsite-master/img/new1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 0 1 60vh;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
}
.header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
.caption {
  padding: 0.8rem;
  text-align: center;
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
  background-color: #333;
  color: #fff;
}
footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
